<a href="https://colab.research.google.com/github/Vaisakh-Babu/pandas_practice/blob/master/covid19India_practice_data_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
!pip install covid19pandas
import covid19pandas as cvd

Collecting covid19pandas
  Downloading https://files.pythonhosted.org/packages/15/e1/cfd3f7f1cc7c908b28966fcb3e405b5fec9e6b6834cdf8206d32903a93bf/covid19pandas-0.3.0-py3-none-any.whl
Requirement already satisfied: requests>=2.21.0 in /usr/local/lib/python3.6/dist-packages (from covid19pandas) (2.23.0)
Requirement already satisfied: seaborn>=0.10.0 in /usr/local/lib/python3.6/dist-packages (from covid19pandas) (0.10.1)
Requirement already satisfied: pandas>=0.25.1 in /usr/local/lib/python3.6/dist-packages (from covid19pandas) (1.0.3)
Requirement already satisfied: numpy>=1.16.3 in /usr/local/lib/python3.6/dist-packages (from covid19pandas) (1.18.4)
Requirement already satisfied: matplotlib>=3.1.0 in /usr/local/lib/python3.6/dist-packages (from covid19pandas) (3.2.1)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests>=2.21.0->covid19pandas) (2.9)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests>=2.21.0->covid19pandas) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests>=2.21.0->covid19pandas) (2020.4.5.1)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests>=2.21.0->covid19pandas) (3.0.4)
Requirement already satisfied: scipy>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from seaborn>=0.10.0->covid19pandas) (1.4.1)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.25.1->covid19pandas) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.25.1->covid19pandas) (2018.9)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=3.1.0->covid19pandas) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=3.1.0->covid19pandas) (1.2.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=3.1.0->covid19pandas) (2.4.7)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.6.1->pandas>=0.25.1->covid19pandas) (1.12.0)
Installing collected packages: covid19pandas
Successfully installed covid19pandas-0.3.0

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [5]:
df = cvd.get_data_jhu()

These data were obtained from Johns Hopkins University (https://github.com/CSSEGISandData/COVID-19).

In [6]:
df

            date    UID iso2 iso3  ...  Population cases deaths  recovered
0     2020-01-22    4.0   AF  AFG  ...  38928341.0     0      0          0
1     2020-01-22    8.0   AL  ALB  ...   2877800.0     0      0          0
2     2020-01-22   12.0   DZ  DZA  ...  43851043.0     0      0          0
3     2020-01-22   20.0   AD  AND  ...     77265.0     0      0          0
4     2020-01-22   24.0   AO  AGO  ...  32866268.0     0      0          0
...          ...    ...  ...  ...  ...         ...   ...    ...        ...
33637 2020-05-26  275.0   PS  PSE  ...   5101416.0   429      3        365
33638 2020-05-26  732.0   EH  ESH  ...    597330.0     9      1          6
33639 2020-05-26  887.0   YE  YEM  ...  29825968.0   249     49         10
33640 2020-05-26  894.0   ZM  ZMB  ...  18383956.0   920      7        336
33641 2020-05-26  716.0   ZW  ZWE  ...  14862927.0    56      4         25

[33642 rows x 14 columns]

In [0]:
india = df.query('`Country/Region` == "India"')

In [16]:
india.tail()

            date    UID iso2 iso3  ...    Population   cases deaths  recovered
32451 2020-05-22  356.0   IN  IND  ...  1.380004e+09  124794   3726      51824
32718 2020-05-23  356.0   IN  IND  ...  1.380004e+09  131423   3868      54385
32985 2020-05-24  356.0   IN  IND  ...  1.380004e+09  138536   4024      57692
33252 2020-05-25  356.0   IN  IND  ...  1.380004e+09  144950   4172      60706
33519 2020-05-26  356.0   IN  IND  ...  1.380004e+09  150793   4344      64277

[5 rows x 14 columns]

In [26]:
india['Population'][33519]/india['cases'][33519]

9151.647523426154