<a href="https://colab.research.google.com/github/Vaisakh-Babu/pandas_practice/blob/master/covid19data_practice_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Covid-19 data of United States
###Trying to Analyse the covid-19 data which is available in https://github.com/PayneLab/covid19pandas

In [1]:
! pip install covid19pandas

Collecting covid19pandas
  Downloading https://files.pythonhosted.org/packages/15/e1/cfd3f7f1cc7c908b28966fcb3e405b5fec9e6b6834cdf8206d32903a93bf/covid19pandas-0.3.0-py3-none-any.whl
Requirement already satisfied: requests>=2.21.0 in /usr/local/lib/python3.6/dist-packages (from covid19pandas) (2.23.0)
Requirement already satisfied: numpy>=1.16.3 in /usr/local/lib/python3.6/dist-packages (from covid19pandas) (1.18.4)
Requirement already satisfied: seaborn>=0.10.0 in /usr/local/lib/python3.6/dist-packages (from covid19pandas) (0.10.1)
Requirement already satisfied: matplotlib>=3.1.0 in /usr/local/lib/python3.6/dist-packages (from covid19pandas) (3.2.1)
Requirement already satisfied: pandas>=0.25.1 in /usr/local/lib/python3.6/dist-packages (from covid19pandas) (1.0.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests>=2.21.0->covid19pandas) (2020.4.5.1)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests>=2.21.0->covid19pandas) (2.9)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests>=2.21.0->covid19pandas) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests>=2.21.0->covid19pandas) (1.24.3)
Requirement already satisfied: scipy>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from seaborn>=0.10.0->covid19pandas) (1.4.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=3.1.0->covid19pandas) (1.2.0)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=3.1.0->covid19pandas) (0.10.0)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=3.1.0->covid19pandas) (2.8.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=3.1.0->covid19pandas) (2.4.7)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.25.1->covid19pandas) (2018.9)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from cycler>=0.10->matplotlib>=3.1.0->covid19pandas) (1.12.0)
Installing collected packages: covid19pandas
Successfully installed covid19pandas-0.3.0

In [0]:
import covid19pandas as cvd

In [6]:
df = cvd.get_data_nyt()

These data were obtained from The New York Times (https://github.com/nytimes/covid-19-data).

In [7]:
df

           date          state  fips  cases  deaths
0    2020-01-21     Washington    53      1       0
1    2020-01-22     Washington    53      1       0
2    2020-01-23     Washington    53      1       0
3    2020-01-24       Illinois    17      1       0
4    2020-01-24     Washington    53      1       0
...         ...            ...   ...    ...     ...
4574 2020-05-24       Virginia    51  36244    1171
4575 2020-05-24     Washington    53  20732    1069
4576 2020-05-24  West Virginia    54   1771      72
4577 2020-05-24      Wisconsin    55  15362     510
4578 2020-05-24        Wyoming    56    813      12

[4579 rows x 5 columns]