<a href="https://colab.research.google.com/github/Vaisakh-Babu/pandas_practice/blob/master/FordgoBike.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np

In [2]:
# FordGoBike
FordGoBike(Bay Wheels) is a regional public bicycle sharing system in the San Francisco Bay Area, California operated by Motivate in a partnership with the Metropolitan Transportation Commission and the Bay Area Air Quality Management District

## Problem Statement
1. To understand supply damand gap
2. To understand most common routes

SyntaxError: ignored

In [0]:
df = pd.read_csv('https://s3.amazonaws.com/fordgobike-data/2017-fordgobike-tripdata.csv')

In [4]:
df.head()

   duration_sec                start_time  ... member_birth_year  member_gender
0         80110  2017-12-31 16:57:39.6540  ...            1987.0           Male
1         78800  2017-12-31 15:56:34.8420  ...            1965.0         Female
2         45768  2017-12-31 22:45:48.4110  ...               NaN            NaN
3         62172  2017-12-31 17:31:10.6360  ...               NaN            NaN
4         43603  2017-12-31 14:23:14.0010  ...            1997.0         Female

[5 rows x 15 columns]

In [5]:
df.shape

(519700, 15)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 519700 entries, 0 to 519699
Data columns (total 15 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   duration_sec             519700 non-null  int64
 1   start_time               519700 non-null  object
 2   end_time                 519700 non-null  object
 3   start_station_id         519700 non-null  int64
 4   start_station_name       519700 non-null  object
 5   start_station_latitude   519700 non-null  float64
 6   start_station_longitude  519700 non-null  float64
 7   end_station_id           519700 non-null  int64
 8   end_station_name         519700 non-null  object
 9   end_station_latitude     519700 non-null  float64
 10  end_station_longitude    519700 non-null  float64
 11  bike_id                  519700 non-null  int64
 12  user_type                519700 non-null  object
 13  member_birth_year        453159 non-null  float64
 14  member_gender            453238 non-null  object
dtypes: float64(5), int64(4), object(6)
memory usage: 59.5+ MB

In [7]:
df['start_time']

0         2017-12-31 16:57:39.6540
1         2017-12-31 15:56:34.8420
2         2017-12-31 22:45:48.4110
3         2017-12-31 17:31:10.6360
4         2017-12-31 14:23:14.0010
                    ...
519695    2017-06-28 10:00:54.5280
519696    2017-06-28 09:56:39.6310
519697    2017-06-28 09:47:36.3470
519698    2017-06-28 09:47:41.6640
519699    2017-06-28 09:49:46.3770
Name: start_time, Length: 519700, dtype: object

In [0]:
df['start_time'] = pd.to_datetime(df['start_time'])

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 519700 entries, 0 to 519699
Data columns (total 15 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   duration_sec             519700 non-null  int64
 1   start_time               519700 non-null  datetime64[ns]
 2   end_time                 519700 non-null  object
 3   start_station_id         519700 non-null  int64
 4   start_station_name       519700 non-null  object
 5   start_station_latitude   519700 non-null  float64
 6   start_station_longitude  519700 non-null  float64
 7   end_station_id           519700 non-null  int64
 8   end_station_name         519700 non-null  object
 9   end_station_latitude     519700 non-null  float64
 10  end_station_longitude    519700 non-null  float64
 11  bike_id                  519700 non-null  int64
 12  user_type                519700 non-null  object
 13  member_birth_year        453159 non-null  float64
 14  member_gender            453238 non-null  object
dtypes: datetime64[ns](1), float64(5), int64(4), object(5)
memory usage: 59.5+ MB

In [0]:
df['end_time'] = pd.to_datetime(df['end_time'])

In [0]:
t1 = df['start_time'][0]

In [13]:
t1

Timestamp('2017-12-31 16:57:39.654000')

In [16]:
t1.day_name()

'Sunday'

In [0]:
df['day_name'] = df['start_time'].apply(lambda x: x.day_name())

In [23]:
df.tail()

        duration_sec              start_time  ... member_gender   day_name
519695           435 2017-06-28 10:00:54.528  ...          Male  Wednesday
519696           431 2017-06-28 09:56:39.631  ...          Male  Wednesday
519697           424 2017-06-28 09:47:36.347  ...        Female  Wednesday
519698           366 2017-06-28 09:47:41.664  ...          Male  Wednesday
519699           188 2017-06-28 09:49:46.377  ...          Male  Wednesday

[5 rows x 16 columns]

In [0]:
del df['day_name']

In [26]:
df

        duration_sec              start_time  ... member_birth_year  member_gender
0              80110 2017-12-31 16:57:39.654  ...            1987.0           Male
1              78800 2017-12-31 15:56:34.842  ...            1965.0         Female
2              45768 2017-12-31 22:45:48.411  ...               NaN            NaN
3              62172 2017-12-31 17:31:10.636  ...               NaN            NaN
4              43603 2017-12-31 14:23:14.001  ...            1997.0         Female
...              ...                     ...  ...               ...            ...
519695           435 2017-06-28 10:00:54.528  ...            1991.0           Male
519696           431 2017-06-28 09:56:39.631  ...            1973.0           Male
519697           424 2017-06-28 09:47:36.347  ...            1985.0         Female
519698           366 2017-06-28 09:47:41.664  ...            1981.0           Male
519699           188 2017-06-28 09:49:46.377  ...            1984.0           Male

[519700 rows x 15 columns]

In [0]:
for i in ['start' , 'end'] :
  df[i+'_time'] = pd.to_datetime(df[i+'_time'])
  df[i+'_day_name'] = df[i+'_time'].apply(lambda x: x.day_name())
  df[i+'_month_name'] = df[i+'_time'].apply(lambda x: x.month_name())
  df[i+'_hour'] = df[i+'_time'].apply(lambda x: x.hour)

In [30]:
df.head()

   duration_sec              start_time  ... end_month_name  end_hour
0         80110 2017-12-31 16:57:39.654  ...        January        15
1         78800 2017-12-31 15:56:34.842  ...        January        13
2         45768 2017-12-31 22:45:48.411  ...        January        11
3         62172 2017-12-31 17:31:10.636  ...        January        10
4         43603 2017-12-31 14:23:14.001  ...        January         2

[5 rows x 21 columns]